.app-wraper{
  display: grid;

  grid-template-areas: 
  "header"
  "nav"
  "content";

  grid-template-rows: 60px 60px 1fr;
  grid-template-columns: 1fr;
  /* grid-gap: 10px; */  
}

.header{
  grid-area: header;
  background-color: khaki;
  }

  .nav{
    grid-area: nav;
    background-color: blueviolet;
  }

  .content{
    grid-area: content;
    /* background-color:chartreuse; */
  }

  /* .app-wraper-content{
    
  } */



