
.logo{
  height: 50px;
  width: 70px;
}

.bg-header-color{
  background-color: gray;
  color: black;
}

.bg-nav-color{
  background-color:#BFBFBF;
}

.btn-color{
  background-color: gray;
  color: whitesmoke;
}

.slogan{
  color: rgb(217, 180, 183);
  font-family: 'Permanent Marker', cursive;
  font-size: 27px;
}

.text-special{
text-transform: lowercase;
}

.text-special::first-letter{
  text-transform: capitalize;
  }

  * {
    box-sizing: border-box;
   }

   *:before,
   *:after {
    box-sizing: border-box;
   }

   html,
   body {
    height: 100%;
    position: relative;
   }

   .main-container {
    
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; 
   }

   .footer {
    position: fixed;
    bottom: 0;
    background-color: gray;
    color: black;
    font-size: small;
   }

   @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
   @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
   

   h2, h5, h3{
    font-family: 'Cinzel', serif;
   }

   .footer-spaces{
     margin-bottom: -2px;
   }
  
  .btn-margin{
    margin-right: 5%;
    max-width: 10rem;
  }

  .td-minimize{
    width: 10%;
  }

  .td-minimize-action{
    width: 17%;
  }

  .input-color{
    background-color: #BFBFBF;
    border: black;
  }
  .input-color:focus{
    background-color: #BFBFBF;
    border: black;
  }

  /* .bg-low{
    border: 3px solid yellow;
    border-radius: 10px;
   }
   ​ 
  .bg-medium{
    border: 3px solid green;
    border-radius: 10px;
   }
   ​
  .bg-high{
    border: 3px solid red;
    border-radius: 10px;
   } */
   

.form-control::placeholder {
  color:#292b2c;
}

.input-max-width{
  width: 40px;
}

.btn-board-color{
  background-color: gray;
  color: white;
}

.priorityCapitalize{
  text-transform: capitalize;

}

